body {
  background-color: #FF9D2E;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #61617B;
}
a {
color: #61617B;
text-decoration: none;
}
p {
  color: #61617B;
  text-decoration: none;
}
.navbar-default {
  background-color: #F56218;
  border-color: #DC5816;
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
  font-family: 'Lobster', cursive;
  font-size: 28px;
  /*font-weight: bold;*/
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}
.btn-success {
  color: #fff;
  background-color: #9DC9AC;
  border-color: #8DB59B;
}
.btn-success:hover {
  color: #fff;
  background-color: #8DB59B;
  border-color: #8DB59B;
}
.btn-info {
  color: #fff;
  background-color: #8DB59B;
  border-color: #8DB59B;
}
.btn-info:hover {
  color: #fff;
  background-color: #9DC9AC;
  border-color: #8DB59B;
}

.btn-default.disabled {
background-color: #F56218;
border-color: #DC5816;
}

.btn-default {
background-color: #61617B;
border-color: #61617B;
}

/*.btn-default.disabled {
  background-color: #9DC9AC;
  border-color: #8DB59B;
} */
.btn-primary {
  background-color: #F56218;
  border-color: #DC5816;
}
.btn-primary:hover {
  background-color: #555;
  border-color: #DC5816;
}

a#signup-link {
  color: #F56218;
}

.navbar-nav > .active > a {
color: #555;
font-weight: bold;
/* background-color: #e7e7e7; */
}

.navbar-nav > li {
  background-color: #F56218;
}

#drinkWell.well {
  background-color: #FFFEC7;
  border: 1px solid #FFFEC7;
  border-radius: 15px;
}

.drink-photo {
  border: 1px solid #000000;
  padding: 10px;
  max-height: 150px;
  margin-top: 20px;
}
